.image {
    height: 50%;
    width: 60%;
    /* padding-left: 200px;
    padding-bottom: 40px; */
}

.image-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 3%;
    object-fit: cover;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

fieldset {
    border-radius: 7%;
    height: auto;
    max-height: 650px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border: none;
}


.detailsMainDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}


.description-card {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 50px;
    width: 100%;
}


.buttonGroup {
    margin-top: 10px;
    width: 100%;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e51d57;
    color: white;
}

.del-rev {
    margin-top: 10px;
    width: 50%;
    /* height: 20%; */
    color: #080710;
    padding: 15px 0;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e51d57;
    color: white;
    border: none;
}


.priceReview {
    display: flex;
    justify-content: space-between;
}


.review-box {
    width: 80%;
}

.indiv-review {
    /* border-bottom: black solid 1px; */
    border-radius: 5px;
    margin-bottom: 10px;
    width: 48%;
    display: flex;
    flex-direction: column;
}


.describe-div {
    width: 60%;
}


.review-container {
    /* border: solid black .8px; */
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.fieldset-icon>i {
    font-size: 18px;
}


.fieldset-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

fieldset>button {
    border: none;
}


#reviewName {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
