
.image{
    height: 70%;
    width: 70%;
}
.image img{
    height:100%;
    width: 100%;
    border-radius: none;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    object-fit: cover;
}

.info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

fieldset{
    border-radius: 7%;
    height: auto;
    max-height: 350px;
    width: 25%;

}


.detailsMainDiv{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}


.description-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.buttonGroup{
    margin-top: 10px;
    width: 100%;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color:#e51d57;
    color: white;
}


.priceReview{
    display: flex;
    justify-content: space-between;
}


.review-box{
    width: 60%;
}

.indiv-review{
    border-bottom: black solid 1px;
    margin-bottom: 10px;
}


.describe-div{
    width: 60%;
}
