#navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid grey 0.1px;
    margin-left: 131px;
    margin-right: 130px;
    margin-bottom: 50px;
    margin-top: 50px;

}

.topRight {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    align-items: center;
    width: 20%;
}

.topRight a {
    text-decoration: none;
    color: black;
}

.signUpButton {
    background-color: #e51d57;
    color: white;
    height: 30px;
    border-radius: 10px;
    width: 70px;
}

#userMan {
    font-size: 23px;
}

#navList>a>img {
    height: 100px;

}

#profile-button {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 100%; */
    border-radius: 10px;
    background-color: #e51d57;
    color: white;
    border: none;
}

#logoutButton {
    height: 30px;
    border-radius: 5px;
    background-color: #e51d57;
    color: white;
    position: absolute;
    border: none;
}

.profile-dropdown {
    position: absolute;
    /* border: solid gray 1px; */
    display: flex;
    flex-direction: column;
     height: 150px;
     min-width: 150px;
    gap: 40px;
    border-radius: 5px;
    right: 0px;
    top: calc(100% + .4rem);
    background-color: white;
    padding: .75rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    /* pointer-events: none; */
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown>button:focus+.profile-dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

i {
    display: flex;
    justify-content: space-between;
    font-size: 18px;

}


.dropdown {
    position: relative;
}

.host{
    width: 100%;
    height: 40px;
    border-bottom: gray solid .7px;
}


.user-inf{
    overflow: hidden;
    text-overflow: ellipsis;
}
