
form *{
    font-family: 'Poppins',sans-serif;
    color: #353030;
    letter-spacing: 0.5px;
    outline: none;
    /* border: none; */
}

.Loginlabel{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    /* font-weight: 500; */
    font-weight: bold;

}

.Logininput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 50px;
    width: 82%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.Loginbutton{
    margin-top: 50px;
    width: 90%;
    background-color:#e51d57;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


.boxContainer{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    height: 500px;
    width: 300px;
    /* border: red solid 3px; */
    /* border-radius: 10px; */
}

.loginButton{
    background-color:#e51d57;
    color: white;
    height: 30px;
    border-radius: 10px;
    width: 70px;
}
